body {
    background-color: #2670c5;
}

#form {
    background-color: #eff5fc;
    width: 50%;
    height: 95%;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    margin: auto;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    background-color: #eff5fc;
}

.ui-widget-content {
    border: none;
    background-color: #eff5fc;
}

.button {
    background: #fd7c1a;
}

.bold {
    font-weight: bold;
}