body {

    background-image: url("#{resource['images:waterSea5.jpg']}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#form {
    background-color: #ffffe6;
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    margin: auto;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-color: saddlebrown;
    background-color: #ffffe6;
}

.ui-widget-content {
    border: none;
    background-color: #ffffe6;
}

.button {
    background: #fd7c1a;
}

.bold {
    font-weight: bold;
}

