body {
    background-image: url(/resources/images/edit33.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 5%;
    height: 100%;
    width: 100%;
}

