body {

    background-image: url("#{resource['images:mainPage.jpg']}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}
.box-drift {
    position: absolute; !important;
    width: 100px; !important;
    height: 100%; !important;
    animation: doDrift 35s infinite; !important;
}
.box-bob {
    position: absolute; !important;
    top: 55%; !important;
    width: 100px; !important;
    background: none; !important;
    animation: doBob 5s infinite; !important;
}
.box-pitch {
    height: 100px; !important;
    animation: doPitch 4s infinite; !important;
}
.left-sail {
    background: #c9e4ca !important;
    position: absolute; !important;
    top: 20%; !important;
    left: 5%; !important;
    width: 40%; !important;
    height: 40%; !important;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%); !important;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); !important;
}
.right-sail {
    background: #c9e4ca; !important;
    position: absolute; !important;
    top: 5%; !important;
    left: 50%; !important;
    width: 45%; !important;
    height: 55%; !important;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%); !important;
    clip-path: polygon(0 0, 0% 100%, 100% 100%); !important;
}
.hull {
    background: #c9e4ca; !important;
    position: absolute; !important;
    top: 65%; !important;
    left: 10%; !important;
    width: 80%; !important;
    height: 25%; !important;
    -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 18% 100%); !important;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 18% 100%); !important;
}
@keyframes doBob {
    0% { !important;
        top: 55%; !important;
    }
    50% { !important;
        top: 47%; !important;
    }
    100% { !important;
        top: 55%; !important;
    }
}
@keyframes doDrift {
    0% { !important;
        left: 0%; !important;
    }
    10% { !important;
        left: 10%; !important;
    }
    20% { !important;
        left: 20%; !important;
    }
    50% { !important;
        left: 50%; !important;
    }
    50% { !important;
        left: 50%; !important;
    }
    80% { !important;
        left: 80%; !important;
    }
    100% { !important;
        left: 90%; !important;
    }
}
@keyframes doPitch {
    0% { !important;
        transform: rotate(-10deg); !important;
    }
    50% { !important;
        transform: rotate(10deg); !important;
    }
    100% { !important;
        transform: rotate(-10deg); !important;
    }
}
