* {
    margin: 0;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    flex: 1;
}

#adminFooter {
    height: 100px;
    border-top: 2px solid black;
    width: 100%;
    background-color: #ffcdd7;
    text-align: center;
}

#managerFooter {
    height: 100px;
    border-top: 2px solid black;
    width: 100%;
    background-color: #76ff87;
    text-align: center;
}

#clientFooter {
    height: 100px;
    border-top: 2px solid black;
    width: 100%;
    background-color: #7581ff;
    text-align: center;
}

[id*='options'] .ui-button-icon-left {
    left: unset;
    right: 0.5em;
}

[id*='options'] .ui-button-text {
    right: 1em;
    position: relative;
}

.ui-growl {
    top: auto;
    bottom: 0;
}