* {
    margin: 0;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    flex: 1;
}

#adminFooter {
    height: 30px;
    border-top: 2px solid black;
    width: 100%;
    background-color: #ffcc80;
    text-align: center;
    font-size: 20px;
}

#managerFooter {
    height: 30px;
    border-top: 2px solid black;
    width: 100%;
    background-color: orange;
    text-align: center;
    font-size: 20px;
}

#clientFooter {
    height: 30px;
    border-top: 2px solid black;
    width: 100%;
    background-color: gold;
    text-align: center;
    font-size: 20px;
}

[id*='options'] .ui-button-icon-left {
    left: unset;
    right: 0.5em;
}

[id*='options'] .ui-button-text {
    right: 1em;
    position: relative;
}

.ui-growl {
    top: auto;
    bottom: 0;
}

.ui-breadcrumb {
    background-color: #ffcc80;
    height: 20px;
}

#info {
    right: 0.3em;
}