body {
    background-color: #ffffff;
    border:1px;
    border: black;
}

.ui-datatable {
    text-align: center;
}

.ui-datatable thead th {
    height: 50%;
}

.ui-datatable-even {
    background-color: #0066cc;
    color: black;
}

.ui-datatable-odd {
    background-color: #99ccff;
    color: black;
}

