body {
    background-image: url("#{resource['images:waterSea5.jpg']}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.ui-panelgrid td {
    background-color: #ffffe6; !important;
    text-align: center !important;
    border-collapse: separate !important;
}

.panelGridCenter {
    margin: 0 auto !important;
}

.form {
    width: 560px;
    background-color:  #ffffe6;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 100px;
    text-align: center;
}

table {
    margin: auto;
    width: 100%;
}
.bold {
    font-weight:bold
}