body {


    background-image: url("#{resource['images:waterSea5.jpg']}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}

#form {
    background-color: #ffffe6;
    width: 50%;
    height: auto;
    padding: 10px 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;

}
